
<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%" >
    <h3 class="w3-bar-item"></h3>
    
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" style="list-style: none" ><a class="nav-link" routerLink="/employee">Employee</a></li>
      <li routerLinkActive="active" style="list-style: none" ><a class="nav-link" routerLink="/department">Department</a></li>
   </ul>
   
  </div>
  <!-- Page Content -->
<div style="margin-left:20%">

    <div class="w3-container w3-teal">
      <h5 style="float: right;cursor:pointer" routerLink="/">{{uname}}</h5>
    </div><br/>
    <div class="w3-container">
      <div class="row">
        <div class='col-sm-12'>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="text-center">
                  <input type="checkbox"[(ngModel)]="isMasterSel" />
                </th>
                <th>S.no</th>
                <th>Employee Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let item of employees;index as i'  
              >
                <td class="text-center">
                  <input type="checkbox" [(ngModel)]="item.isSelected"  value="{{item.id}}" (change)="filterResults(item, $event,i)" />
                </td>
                <td >{{item.id}}</td>
                <td>{{item.fname}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>

        <h5><strong>Selected Employee List</strong></h5>
    <div class="row" >
      <div class='col-sm-12'>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th class="text-center">
                <input type="checkbox"/>
              </th>
              <th>S.no</th>
              <th>Employee Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of list1; index as i" >
              <td class="text-center">
                <input type="checkbox" />
              </td>
              <td>{{list.id}}</td>
              <td>{{list.fname}}</td>
              
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
    </div>
    
    
    