<!-- <h2 *ngIf="!hidelogin">Login Page</h2><br>    
    <div class="login" *ngIf="!hidelogin">    
    <form id="login" >    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username" required>    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password" required>    
        <br><br>    
        <input type="button" name="log" id="log" value="Log In Here" (click) ="submit()">       
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
    </form>     
</div> -->
<router-outlet></router-outlet>


  
  